/* Some mixins */
/* Standard Declarations */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Set background */
html, body {
  background-color: #424242;
  font-family: "Roboto", "sans serif"; }

.fixed {
  width: 100%;
  margin: auto;
  position: fixed;
  z-index: 999; }

/* Masthead */
.masthead-container {
  width: 100%;
  margin: auto;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  padding-top: 0; }
  .masthead-container em {
    font-style: normal;
    color: #FFC107; }
  .masthead-container .masthead {
    padding: 0;
    margin: 0;
    font-size: 40px; }

/* Form section */
.search {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 15px 0;
  background-color: #212121;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 6px;
  font-size: 20px; }

/* Result/gallery section */
.results {
  position: relative;
  z-index: 1;
  top: 300px; }

h2 {
  color: #FFFFFF;
  text-align: center; }
  h2 em {
    font-style: normal;
    color: #FFC107; }

.gallery .photo {
  width: 96%;
  max-width: 960px;
  margin: 0 auto;
  /* to center the container */
  padding: 0 2px; }

.gallery img {
  width: 100%;
  height: auto; }

/* Media queries */
@media screen and (min-width: 420px) {
  .gallery .photo {
    width: 48%;
    max-width: 480px;
    float: left; }
  .gallery img {
    width: 100%;
    display: inline-block; } }

@media screen and (min-width: 768px) {
  .results {
    top: 350px; }
  .masthead-container .masthead {
    font-size: 60px; }
  .search {
    font-size: 40px;
    top: 70px; }
  .gallery .photo {
    width: 24%;
    max-width: 240px;
    float: left; }
  .gallery img {
    width: 100%;
    display: inline-block; } }
